altair==6.0.0
annotated-doc @ file:///C:/miniconda3/conda-bld/annotated-doc_1763372678094/work
annotated-types @ file:///C:/miniconda3/conda-bld/annotated-types_1761745045323/work
anyio @ file:///C:/miniconda3/conda-bld/anyio_1758622439618/work
attrs==25.4.0
blinker==1.9.0
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961372591/work
cachetools==6.2.4
certifi @ file:///C:/Users/task_176765902528894/croot/certifi_1767659216804/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832794697/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744944645/work
click @ file:///C:/miniconda3/conda-bld/click_1764332349001/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
config==0.5.1
distro @ file:///C:/b/abs_71xr36ua5r/croot/distro_1714488282676/work
dnspython @ file:///C:/miniconda3/conda-bld/dnspython_1763718338084/work
email-validator @ file:///C:/miniconda3/conda-bld/email-validator-meta_1758610268565/work
env==0.1.0
exceptiongroup @ file:///C:/miniconda3/conda-bld/exceptiongroup_1761560437674/work
fastapi @ file:///C:/Users/task_176840025097652/croot/fastapi-split_1768401178901/work
fastapi-cli @ file:///C:/Users/task_176837315094792/croot/fastapi-cli_1768373490857/work
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.46
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931282349/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httptools @ file:///C:/miniconda3/conda-bld/httptools_1763634963536/work
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447376159/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912044311/work
itsdangerous==2.2.0
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jiter @ file:///C:/miniconda3/conda-bld/jiter_1762897303434/work
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
markdown-it-py @ file:///C:/Users/task_176700167428312/croot/markdown-it-py_1767001782757/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
mdurl @ file:///C:/miniconda3/conda-bld/mdurl_1758552284437/work
narwhals==2.15.0
numpy==2.2.6
openai @ file:///C:/Users/task_176716794401621/croot/openai_1767168074314/work
packaging==26.0
pandas==2.3.3
pillow==12.1.0
protobuf==6.33.4
pyarrow==23.0.0
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496059965/work
pydantic @ file:///C:/miniconda3/conda-bld/pydantic_1764083582462/work
pydantic-extra-types @ file:///C:/Users/task_176830766245045/croot/pydantic-extra-types_1768308516779/work
pydantic-settings @ file:///C:/miniconda3/conda-bld/pydantic-settings_1764165196642/work
pydantic_core @ file:///C:/miniconda3/conda-bld/pydantic-core_1764009801983/work
pydeck==0.9.1
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431425987/work
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030270/work
python-dateutil==2.9.0.post0
python-dotenv @ file:///C:/Users/task_176855914096354/croot/python-dotenv_1768559764857/work
python-multipart @ file:///C:/b/abs_fdyhk6taah/croot/python-multipart_1743518699596/work
pytz==2025.2
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465513320/work
referencing==0.37.0
requests @ file:///C:/miniconda3/conda-bld/requests_1762359612241/work
rich @ file:///C:/miniconda3/conda-bld/rich_1760375613847/work
rich-toolkit @ file:///C:/Users/task_176830857256775/croot/rich-toolkit_1768308694273/work
rpds-py==0.30.0
shellingham @ file:///C:/miniconda3/conda-bld/shellingham_1761912226126/work
six==1.17.0
smmap==5.0.2
sniffio @ file:///C:/miniconda3/conda-bld/sniffio_1764329212488/work
starlette @ file:///C:/miniconda3/conda-bld/starlette-recipe_1756910714150/work
streamlit==1.53.1
tenacity==9.1.2
toml==0.10.2
tomli @ file:///C:/Users/task_176829653256119/croot/tomli_1768296653758/work
tornado==6.5.4
tqdm @ file:///C:/miniconda3/conda-bld/tqdm_1762863407046/work
typer==0.20.0
typer-slim==0.20.0
typing-inspection @ file:///C:/miniconda3/conda-bld/typing-inspection_1760614192776/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata==2025.3
urllib3 @ file:///C:/Users/task_176781036207501/croot/urllib3_1767810484846/work
uvicorn @ file:///C:/Users/task_176822583451910/croot/uvicorn-split_1768226501063/work
watchdog==6.0.0
watchfiles @ file:///C:/Users/task_176798469881826/croot/watchfiles_1767984810055/work
websockets @ file:///C:/b/abs_5a70jm9s4j/croot/websockets_1751974439266/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746276406/work
